<div id="app">
  <nz-layout class="layout">
    <nz-header class="header">
      <div class="wrap">
        <div class="left">
          <h1>Music</h1>
          <ul nz-menu nzMode="horizontal" nzTheme="dark">
            <li nz-menu-item nzSelected>
              发现
            </li>
            <li nz-menu-item>
              歌单
            </li>
          </ul>
        </div>

        <div class="right">
          <div class="search">
            <nz-input-group [nzSuffix]="suffixIconSearch">
              <input type="text" nz-input placeholder="歌单/歌曲/歌手" />
            </nz-input-group>
            <ng-template #suffixIconSearch>
              <span nz-icon nzType="search"></span>
            </ng-template>
          </div>

          <div class="member">
            <div class="no-login">
              <ul nz-menu nzTheme="dark" nzMode="horizontal">
                <li nz-submenu>
                  <div title>
                    登录
                    <span nz-icon nzType="down" nzTheme="outline"></span>
                  </div>
                  <ul>
                    <li nz-menu-item>
                      <span nz-icon nzType="mobile" nzTheme="outline"></span>
                      手机登录
                    </li>
                    <li nz-menu-item>
                      <span nz-icon nzType="user-add" nzTheme="outline"></span>
                      注册
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </nz-header>

    <nz-content class="content">
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer class="footer">
      网易云音乐--Angular
    </nz-footer>
  </nz-layout>
</div>
